# Mr. Park JW 과 함께하는 프로토타입 제작소

### 김형우와 함께하는 끔찍한 빅분
![](./static/너굴맨.jpg)  
은 너굴맨이 처리했으니 안심하라구

In [1]:
import pandas as pd
import datetime

In [2]:
df = pd.read_csv('./output/daegu_final.csv')

In [3]:
df

,year,month,day,hour,datetime,temp,rainfall,lightning,humidity,wind_speed,wind_direction,condition,region,HI,DI
0,2010,6,1,0,2010-06-01 00:00:00,16.5,0.0,-1,53.0,NaN,NaN,1,동인동,15.589444,60.74355
1,2010,6,1,1,2010-06-01 01:00:00,18.1,0.0,-1,49.0,NaN,NaN,1,동인동,17.245000,62.73431
2,2010,6,1,2,2010-06-01 02:00:00,19.7,0.0,-1,46.0,NaN,NaN,1,동인동,18.926667,64.65038
3,2010,6,1,3,2010-06-01 03:00:00,20.8,0.0,-1,41.0,NaN,NaN,1,동인동,20.006111,65.72772
4,2010,6,1,4,2010-06-01 04:00:00,22.2,0.0,-1,36.0,NaN,NaN,2,동인동,21.415556,67.04608
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14831611,2022,4,30,19,2022-04-30 19:00:00,10.7,0.0,-1,71.0,2.1,335.0,-1,구지면,9.679444,52.33503
14831612,2022,4,30,20,2022-04-30 20:00:00,11.0,0.0,-1,65.0,2.2,339.0,-1,구지면,9.852778,52.99350
14831613,2022,4,30,21,2022-04-30 21:00:00,11.9,0.0,-1,61.0,2.2,338.0,-1,구지면,10.738333,54.40241
14831614,2022,4,30,22,2022-04-30 22:00:00,13.4,0.0,-1,53.0,2.0,351.0,-1,구지면,12.179444,56.60598
14831615,2022,4,30,23,2022-04-30 23:00:00,15.1,0.0,-1,41.0,2.1,5.0,-1,구지면,13.736111,58.79709

# 러닝을 위한 데이터 전처리

## 지역 데이터를 숫자로 치환

In [4]:
fact = pd.factorize(df['region'])

In [5]:
df['region'] = fact[0]

In [6]:
df

,year,month,day,hour,datetime,temp,rainfall,lightning,humidity,wind_speed,wind_direction,condition,region,HI,DI
0,2010,6,1,0,2010-06-01 00:00:00,16.5,0.0,-1,53.0,NaN,NaN,1,0,15.589444,60.74355
1,2010,6,1,1,2010-06-01 01:00:00,18.1,0.0,-1,49.0,NaN,NaN,1,0,17.245000,62.73431
2,2010,6,1,2,2010-06-01 02:00:00,19.7,0.0,-1,46.0,NaN,NaN,1,0,18.926667,64.65038
3,2010,6,1,3,2010-06-01 03:00:00,20.8,0.0,-1,41.0,NaN,NaN,1,0,20.006111,65.72772
4,2010,6,1,4,2010-06-01 04:00:00,22.2,0.0,-1,36.0,NaN,NaN,2,0,21.415556,67.04608
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14831611,2022,4,30,19,2022-04-30 19:00:00,10.7,0.0,-1,71.0,2.1,335.0,-1,141,9.679444,52.33503
14831612,2022,4,30,20,2022-04-30 20:00:00,11.0,0.0,-1,65.0,2.2,339.0,-1,141,9.852778,52.99350
14831613,2022,4,30,21,2022-04-30 21:00:00,11.9,0.0,-1,61.0,2.2,338.0,-1,141,10.738333,54.40241
14831614,2022,4,30,22,2022-04-30 22:00:00,13.4,0.0,-1,53.0,2.0,351.0,-1,141,12.179444,56.60598
14831615,2022,4,30,23,2022-04-30 23:00:00,15.1,0.0,-1,41.0,2.1,5.0,-1,141,13.736111,58.79709

## target 데이터

In [7]:
df['next_temp'] = -50
df['next_humi'] = -50
l = df.shape[0]

In [8]:
pred_time = 48
df.loc[0:l-pred_time-1,'next_temp'] = list(df.loc[1:l-pred_time,'temp'])
df.loc[0:l-pred_time-1,'next_humi'] = list(df.loc[1:l-pred_time,'humidity'])

In [9]:
df

,year,month,day,hour,datetime,temp,rainfall,lightning,humidity,wind_speed,wind_direction,condition,region,HI,DI,next_temp,next_humi
0,2010,6,1,0,2010-06-01 00:00:00,16.5,0.0,-1,53.0,NaN,NaN,1,0,15.589444,60.74355,18.1,49.0
1,2010,6,1,1,2010-06-01 01:00:00,18.1,0.0,-1,49.0,NaN,NaN,1,0,17.245000,62.73431,19.7,46.0
2,2010,6,1,2,2010-06-01 02:00:00,19.7,0.0,-1,46.0,NaN,NaN,1,0,18.926667,64.65038,20.8,41.0
3,2010,6,1,3,2010-06-01 03:00:00,20.8,0.0,-1,41.0,NaN,NaN,1,0,20.006111,65.72772,22.2,36.0
4,2010,6,1,4,2010-06-01 04:00:00,22.2,0.0,-1,36.0,NaN,NaN,2,0,21.415556,67.04608,22.4,34.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14831611,2022,4,30,19,2022-04-30 19:00:00,10.7,0.0,-1,71.0,2.1,335.0,-1,141,9.679444,52.33503,-50.0,-50.0
14831612,2022,4,30,20,2022-04-30 20:00:00,11.0,0.0,-1,65.0,2.2,339.0,-1,141,9.852778,52.99350,-50.0,-50.0
14831613,2022,4,30,21,2022-04-30 21:00:00,11.9,0.0,-1,61.0,2.2,338.0,-1,141,10.738333,54.40241,-50.0,-50.0
14831614,2022,4,30,22,2022-04-30 22:00:00,13.4,0.0,-1,53.0,2.0,351.0,-1,141,12.179444,56.60598,-50.0,-50.0
14831615,2022,4,30,23,2022-04-30 23:00:00,15.1,0.0,-1,41.0,2.1,5.0,-1,141,13.736111,58.79709,-50.0,-50.0

In [10]:
df['datetime'] = pd.to_datetime(df['datetime'])
del_list = list(df[df['datetime'] >= datetime.datetime(2022,5,1,0) - datetime.timedelta(hours=pred_time)].index)

In [11]:
df.drop(del_list, inplace=True)

In [12]:
df

,year,month,day,hour,datetime,temp,rainfall,lightning,humidity,wind_speed,wind_direction,condition,region,HI,DI,next_temp,next_humi
0,2010,6,1,0,2010-06-01 00:00:00,16.5,0.0,-1,53.0,NaN,NaN,1,0,15.589444,60.74355,18.1,49.0
1,2010,6,1,1,2010-06-01 01:00:00,18.1,0.0,-1,49.0,NaN,NaN,1,0,17.245000,62.73431,19.7,46.0
2,2010,6,1,2,2010-06-01 02:00:00,19.7,0.0,-1,46.0,NaN,NaN,1,0,18.926667,64.65038,20.8,41.0
3,2010,6,1,3,2010-06-01 03:00:00,20.8,0.0,-1,41.0,NaN,NaN,1,0,20.006111,65.72772,22.2,36.0
4,2010,6,1,4,2010-06-01 04:00:00,22.2,0.0,-1,36.0,NaN,NaN,2,0,21.415556,67.04608,22.4,34.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14831563,2022,4,28,19,2022-04-28 19:00:00,10.4,2.5,-1,87.0,1.2,352.0,-1,141,9.767222,51.24052,10.7,86.0
14831564,2022,4,28,20,2022-04-28 20:00:00,10.7,1.5,-1,86.0,2.3,20.0,-1,141,10.071111,51.77898,10.3,89.0
14831565,2022,4,28,21,2022-04-28 21:00:00,10.3,2.0,-1,89.0,3.5,355.0,-1,141,9.709444,50.99133,10.2,93.0
14831566,2022,4,28,22,2022-04-28 22:00:00,10.2,1.5,-1,93.0,2.8,349.0,-1,141,9.703889,50.65414,10.7,95.0
14831567,2022,4,28,23,2022-04-28 23:00:00,10.7,1.5,-1,95.0,3.5,352.0,-1,141,10.306111,51.44535,10.5,89.0

In [13]:
df.dropna(inplace=True)

## 자 드가자

In [14]:
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense
from tensorflow.keras import optimizers
import numpy as np

In [15]:
df

,year,month,day,hour,datetime,temp,rainfall,lightning,humidity,wind_speed,wind_direction,condition,region,HI,DI,next_temp,next_humi
4519,2010,12,6,7,2010-12-06 07:00:00,11.6,0.0,-1,32.0,4.1,304.0,3,0,9.651111,54.79488,10.6,35.0
4520,2010,12,6,8,2010-12-06 08:00:00,10.6,0.0,-1,35.0,3.6,300.0,3,0,8.629444,53.55390,9.2,27.0
4521,2010,12,6,9,2010-12-06 09:00:00,9.2,0.0,-1,27.0,3.8,295.0,3,0,6.880556,52.35016,7.9,34.0
4522,2010,12,6,10,2010-12-06 10:00:00,7.9,0.0,-1,34.0,4.1,281.0,4,0,5.633333,50.49614,5.7,44.0
4523,2010,12,6,11,2010-12-06 11:00:00,5.7,0.0,-1,44.0,3.6,298.0,2,0,3.474444,47.10792,4.1,44.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14831563,2022,4,28,19,2022-04-28 19:00:00,10.4,2.5,-1,87.0,1.2,352.0,-1,141,9.767222,51.24052,10.7,86.0
14831564,2022,4,28,20,2022-04-28 20:00:00,10.7,1.5,-1,86.0,2.3,20.0,-1,141,10.071111,51.77898,10.3,89.0
14831565,2022,4,28,21,2022-04-28 21:00:00,10.3,2.0,-1,89.0,3.5,355.0,-1,141,9.709444,50.99133,10.2,93.0
14831566,2022,4,28,22,2022-04-28 22:00:00,10.2,1.5,-1,93.0,2.8,349.0,-1,141,9.703889,50.65414,10.7,95.0
14831567,2022,4,28,23,2022-04-28 23:00:00,10.7,1.5,-1,95.0,3.5,352.0,-1,141,10.306111,51.44535,10.5,89.0

In [16]:
x = df[['year','month','day','hour','temp','rainfall','humidity','wind_speed','wind_direction','region','HI','DI']]
y = df[['next_temp', 'next_humi']]

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [17]:
x_train

,year,month,day,hour,temp,rainfall,humidity,wind_speed,wind_direction,region,HI,DI
1281474,2013,8,14,18,27.9,0.0,71.0,2.0,315.0,12,30.602502,78.35691
8281357,2013,10,31,13,13.5,0.0,65.0,1.8,22.0,79,12.602778,56.62725
6742695,2017,1,12,15,-1.7,0.0,39.0,1.5,286.0,64,-1.700000,38.68963
9572221,2018,2,9,13,4.0,0.0,61.0,1.2,204.0,91,4.000000,43.23260
680690,2016,7,29,2,32.9,0.0,58.0,1.1,243.0,6,38.571726,83.54618
...,...,...,...,...,...,...,...,...,...,...,...,...
10732923,2019,6,15,3,27.5,0.0,42.0,3.3,349.0,102,27.365989,74.00350
14640381,2012,6,5,21,19.4,0.0,77.0,3.9,1.0,140,19.406111,65.79162
1103888,2017,3,11,8,16.6,0.0,12.0,0.7,98.0,10,14.628889,60.00208
13072608,2012,4,23,0,14.1,0.0,68.0,1.9,273.0,125,13.341111,57.48912
7439422,2013,2,8,22,-6.2,0.0,38.0,2.0,276.0,71,-6.200000,33.51156

In [18]:
# 모델을 신경망 구조로 설정
model = Sequential()

# 첫번째 Layer, 입력층, 12개를 입력받아 12개를 출력
model.add(Dense(12, input_dim=x_train.shape[1], activation = None))
# 두번째 Layer, 은닉층, 12개를 입력받아 8개를 출력
model.add(Dense(8, activation = None))
# 세번째 Layer, 출력층, 8개를 입력받아 1개를 출력
model.add(Dense(2, activation = None))

In [19]:
# binary_crossentropy : 클래스가 두개인 이진 분류에서 사용하는 손실함수
# mse : 예측시스템에서 주로 사용하는 손실함수 (mean square error)
# adam : 신경망의 가중치를 최적화시켜주는 알고리즘
# compile : 만들어진 layer를 ANN으로 묶어서 처리하는 과정
adam=optimizers.Adam(learning_rate=0.15, beta_1=0.9, beta_2=0.999, epsilon=None, decay=0.0, amsgrad=False)
model.compile(loss='mae', optimizer=adam, metrics=['mae'])
model.fit(x_train, y_train, epochs=30, batch_size=100)

Epoch 1/30
113465/113465 [==============================] - 172s 2ms/step - loss: 49.5951 - mae: 49.5951
Epoch 2/30
113465/113465 [==============================] - 207s 2ms/step - loss: 51.3729 - mae: 51.3729
Epoch 3/30
113465/113465 [==============================] - 212s 2ms/step - loss: 55.4859 - mae: 55.4859
Epoch 4/30
113465/113465 [==============================] - 211s 2ms/step - loss: 39.3708 - mae: 39.3708
Epoch 5/30
113465/113465 [==============================] - 211s 2ms/step - loss: 49.2015 - mae: 49.2015
Epoch 6/30
113465/113465 [==============================] - 211s 2ms/step - loss: 54.0032 - mae: 54.0032
Epoch 7/30
113465/113465 [==============================] - 214s 2ms/step - loss: 57.4763 - mae: 57.4763
Epoch 8/30
113465/113465 [==============================] - 217s 2ms/step - loss: 50.2190 - mae: 50.2190
Epoch 9/30
113465/113465 [==============================] - 219s 2ms/step - loss: 48.7226 - mae: 48.7226
Epoch 10/30
113465/113465 [==============================] - 220s 2ms/step - loss: 54.7357 - mae: 54.7357
Epoch 11/30
113465/113465 [==============================] - 224s 2ms/step - loss: 43.9493 - mae: 43.9493
Epoch 12/30
113465/113465 [==============================] - 227s 2ms/step - loss: 46.7719 - mae: 46.7719
Epoch 13/30
113465/113465 [==============================] - 227s 2ms/step - loss: 55.1667 - mae: 55.1667
Epoch 14/30
113465/113465 [==============================] - 230s 2ms/step - loss: 51.3961 - mae: 51.3961
Epoch 15/30
113465/113465 [==============================] - 234s 2ms/step - loss: 43.9932 - mae: 43.9932
Epoch 16/30
113465/113465 [==============================] - 237s 2ms/step - loss: 46.0748 - mae: 46.0748
Epoch 17/30
113465/113465 [==============================] - 235s 2ms/step - loss: 55.0360 - mae: 55.0360
Epoch 18/30
113465/113465 [==============================] - 238s 2ms/step - loss: 42.1730 - mae: 42.1730
Epoch 19/30
113465/113465 [==============================] - 241s 2ms/step - loss: 54.6899 - mae: 54.6899
Epoch 20/30
113465/113465 [==============================] - 252s 2ms/step - loss: 50.4687 - mae: 50.4687
Epoch 21/30
113465/113465 [==============================] - 254s 2ms/step - loss: 45.1726 - mae: 45.1726
Epoch 22/30
113465/113465 [==============================] - 255s 2ms/step - loss: 47.1651 - mae: 47.1651
Epoch 23/30
113465/113465 [==============================] - 255s 2ms/step - loss: 54.7710 - mae: 54.7710
Epoch 24/30
113465/113465 [==============================] - 256s 2ms/step - loss: 44.0663 - mae: 44.0663
Epoch 25/30
113465/113465 [==============================] - 255s 2ms/step - loss: 53.2430 - mae: 53.2430
Epoch 26/30
113465/113465 [==============================] - 257s 2ms/step - loss: 54.5368 - mae: 54.5368
Epoch 27/30
113465/113465 [==============================] - 258s 2ms/step - loss: 44.1882 - mae: 44.1882
Epoch 28/30
113465/113465 [==============================] - 272s 2ms/step - loss: 54.1692 - mae: 54.1692
Epoch 29/30
113465/113465 [==============================] - 264s 2ms/step - loss: 46.3291 - mae: 46.3291
Epoch 30/30
113465/113465 [==============================] - 234s 2ms/step - loss: 50.6937 - mae: 50.6937

In [26]:
scores = model.evaluate(x_test, y_test)
print("%s: %.2f%%" %(model.metrics_names[1], scores[1]*100))

88645/88645 [==============================] - 126s 1ms/step - loss: 2.5361 - mae: 2.5361
mae: 253.61%

In [27]:
y_pred = model.predict(x_test)

88645/88645 [==============================] - 108s 1ms/step

In [28]:
y_pred

array([[14.408025 , 84.09517  ],
       [ 2.2389498, 72.72847  ],
       [ 6.6921673, 35.249897 ],
       ...,
       [17.210688 , 22.57872  ],
       [26.97589  , 79.769356 ],
       [ 3.8914814, 52.785908 ]], dtype=float32)

In [29]:
y_pred = pd.DataFrame(y_pred, columns=['pred_temp','pred_humi'])

In [30]:
df_ = x_test[:]
df_ = pd.concat([df_,y_test], axis=1)
df_['pre_temp'] = 0
df_['pre_humi'] = 0

df_.loc[:,'pre_temp'] = list(y_pred['pred_temp'])
df_.loc[:,'pre_humi'] = list(y_pred['pred_humi'])

In [31]:
df_

,year,month,day,hour,temp,rainfall,humidity,wind_speed,wind_direction,region,HI,DI,next_temp,next_humi,pre_temp,pre_humi
6914133,2012,10,4,21,13.6,0.0,82.0,0.3,0.0,66,13.156667,56.63048,13.9,81.0,14.408025,84.095169
5821098,2019,2,19,18,2.2,0.0,70.0,2.2,271.0,55,2.200000,39.59660,2.3,71.0,2.238950,72.728470
5751688,2011,3,21,16,8.1,0.0,33.0,2.7,312.0,55,5.827222,50.78827,7.3,28.0,6.692167,35.249897
5904477,2016,9,24,21,16.7,0.0,88.0,0.6,51.0,56,16.723333,61.79204,16.5,86.0,17.579769,89.600822
4060622,2020,11,11,14,5.9,0.0,71.0,0.3,316.0,38,4.399444,45.07311,4.8,74.0,6.061051,73.504181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13863824,2019,3,1,8,11.4,0.0,21.0,1.3,317.0,132,9.143889,54.90106,10.4,24.0,9.743939,21.658646
7583417,2017,8,14,17,22.6,3.0,88.0,0.7,326.0,72,23.213333,71.71112,22.3,89.0,23.083179,89.920563
8302806,2016,4,12,6,18.8,0.0,23.0,1.2,290.0,79,17.336111,62.51976,19.3,27.0,17.210688,22.578720
6642647,2017,7,14,23,26.9,0.5,78.0,0.4,297.0,63,29.345598,77.70718,27.5,70.0,26.975889,79.769356
11060137,2021,1,13,1,3.9,0.0,53.0,0.3,236.0,105,3.900000,43.92633,6.0,47.0,3.891481,52.785908