# Mr. Park JW 과 함께하는 프로토타입 제작소

### 김형우와 함께하는 끔찍한 빅분
![](./static/너굴맨.jpg)  
은 너굴맨이 처리했으니 안심하라구

In [16]:
import pandas as pd
import datetime

In [17]:
df = pd.read_csv('./output/daegu_final.csv')

In [18]:
df

,year,month,day,hour,datetime,temp,rainfall,lightning,humidity,wind_speed,wind_direction,condition,region,HI,DI
0,2010,6,1,0,2010-06-01 00:00:00,16.5,0.0,-1,53.0,NaN,NaN,1,동인동,15.589444,60.74355
1,2010,6,1,1,2010-06-01 01:00:00,18.1,0.0,-1,49.0,NaN,NaN,1,동인동,17.245000,62.73431
2,2010,6,1,2,2010-06-01 02:00:00,19.7,0.0,-1,46.0,NaN,NaN,1,동인동,18.926667,64.65038
3,2010,6,1,3,2010-06-01 03:00:00,20.8,0.0,-1,41.0,NaN,NaN,1,동인동,20.006111,65.72772
4,2010,6,1,4,2010-06-01 04:00:00,22.2,0.0,-1,36.0,NaN,NaN,2,동인동,21.415556,67.04608
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14831611,2022,4,30,19,2022-04-30 19:00:00,10.7,0.0,-1,71.0,2.1,335.0,-1,구지면,9.679444,52.33503
14831612,2022,4,30,20,2022-04-30 20:00:00,11.0,0.0,-1,65.0,2.2,339.0,-1,구지면,9.852778,52.99350
14831613,2022,4,30,21,2022-04-30 21:00:00,11.9,0.0,-1,61.0,2.2,338.0,-1,구지면,10.738333,54.40241
14831614,2022,4,30,22,2022-04-30 22:00:00,13.4,0.0,-1,53.0,2.0,351.0,-1,구지면,12.179444,56.60598
14831615,2022,4,30,23,2022-04-30 23:00:00,15.1,0.0,-1,41.0,2.1,5.0,-1,구지면,13.736111,58.79709

# 딥 러닝을 위한 DF 변경

In [19]:
df.drop(['lightning','condition'], axis=1, inplace=True)

In [20]:
df.reset_index(drop=True, inplace=True)

## 고도

In [6]:
import pandas as pd
df_=pd.read_excel('./dataset/Daegu/0 대구 동네예보 지점 좌표.xlsx')

In [7]:
df_ = df_[df_['1단계'] == '대구광역시'][['3단계','경도(초/100)','위도(초/100)']].dropna().reset_index(drop=True)
df_

      3단계   경도(초/100)  위도(초/100)
0     동인동  128.609131  35.867905
1     삼덕동  128.611167  35.862575
2    성내1동  128.600356  35.866250
3    성내2동  128.592622  35.865347
4    성내3동  128.587942  35.869611
..    ...         ...        ...
137   옥포읍  128.465978  35.786642
138   현풍읍  128.449786  35.694314
139   가창면  128.624689  35.799831
140   하빈면  128.447711  35.897944
141   구지면  128.415667  35.655764

[142 rows x 3 columns]

In [8]:
df__ = pd.read_csv('./dataset/daegu_height.csv')
df__.drop(['UTM-K X','UTM-K Y','region'], axis=1, inplace=True)
df__

        height     WGS84 X    WGS84 Y
0        40.43  128.550443  35.836146
1        41.83  128.550428  35.835335
2        43.90  128.550412  35.834524
3        45.95  128.550396  35.833713
4        39.07  128.551471  35.837755
...        ...         ...        ...
132960   42.04  128.617540  35.867530
132961   42.11  128.617523  35.866720
132962   50.75  128.618619  35.871571
132963   55.92  128.618602  35.870760
132964   60.51  128.618586  35.869949

[132965 rows x 3 columns]

In [9]:
import math
df_['height'] = None
for index, data_row in df_.iterrows():
    X=0
    Y=0
    min_distance = 1000
    height = 0
    for index2, data_row2 in df__.iterrows():
        distance = math.sqrt((data_row[1] - data_row2[1])**2 + (data_row[2] - data_row2[2])**2)
        if min_distance > distance:
            min_distance = distance
            height = data_row2[0]
    df_.loc[index, 'height'] = height

In [10]:
df_

      3단계   경도(초/100)  위도(초/100) height
0     동인동  128.609131  35.867905  42.48
1     삼덕동  128.611167  35.862575  46.23
2    성내1동  128.600356  35.866250  44.74
3    성내2동  128.592622  35.865347  42.68
4    성내3동  128.587942  35.869611  39.66
..    ...         ...        ...    ...
137   옥포읍  128.465978  35.786642  59.71
138   현풍읍  128.449786  35.694314  33.63
139   가창면  128.624689  35.799831  94.98
140   하빈면  128.447711  35.897944   96.8
141   구지면  128.415667  35.655764  28.31

[142 rows x 4 columns]

In [11]:
height = df_

In [22]:
df = pd.merge(df,df_[['3단계','height']], how='left', left_on='region', right_on='3단계')
df.drop(['3단계'], axis=1, inplace=True)

In [25]:
df

,year,month,day,hour,datetime,temp,rainfall,humidity,wind_speed,wind_direction,region,HI,DI,height
0,2010,6,1,0,2010-06-01 00:00:00,16.5,0.0,53.0,NaN,NaN,동인동,15.589444,60.74355,42.48
1,2010,6,1,1,2010-06-01 01:00:00,18.1,0.0,49.0,NaN,NaN,동인동,17.245000,62.73431,42.48
2,2010,6,1,2,2010-06-01 02:00:00,19.7,0.0,46.0,NaN,NaN,동인동,18.926667,64.65038,42.48
3,2010,6,1,3,2010-06-01 03:00:00,20.8,0.0,41.0,NaN,NaN,동인동,20.006111,65.72772,42.48
4,2010,6,1,4,2010-06-01 04:00:00,22.2,0.0,36.0,NaN,NaN,동인동,21.415556,67.04608,42.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14831611,2022,4,30,19,2022-04-30 19:00:00,10.7,0.0,71.0,2.1,335.0,구지면,9.679444,52.33503,28.31
14831612,2022,4,30,20,2022-04-30 20:00:00,11.0,0.0,65.0,2.2,339.0,구지면,9.852778,52.99350,28.31
14831613,2022,4,30,21,2022-04-30 21:00:00,11.9,0.0,61.0,2.2,338.0,구지면,10.738333,54.40241,28.31
14831614,2022,4,30,22,2022-04-30 22:00:00,13.4,0.0,53.0,2.0,351.0,구지면,12.179444,56.60598,28.31
14831615,2022,4,30,23,2022-04-30 23:00:00,15.1,0.0,41.0,2.1,5.0,구지면,13.736111,58.79709,28.31

In [26]:
df_ = df
df_.to_csv('./output/daegu_final_height.csv', index=False)

## <hr>

## 전력량

In [27]:
# 용도별 전력사용량 로드
e_group=pd.read_csv('./dataset/Daegu/0 daegu_elec_final.csv', encoding='cp949')
e_group

       year  month region_1 contract type  customer    elec_use  use ratio
0      2013      1      가창면           가로등     314.0    238587.0   1.874939
1      2013      1      가창면           농사용    1088.0    302963.0   2.380838
2      2013      1      가창면           산업용      90.0   7629701.0  59.958098
3      2013      1      가창면            심야     524.0   1894274.0  14.886175
4      2013      1      가창면           일반용     620.0   1811605.0  14.236520
...     ...    ...      ...           ...       ...         ...        ...
90382  2022      3     효목2동           농사용      16.0       736.0   0.002251
90383  2022      3     효목2동           산업용     192.0    434184.0   1.328043
90384  2022      3     효목2동            심야    1036.0   1381680.0   4.226159
90385  2022      3     효목2동           일반용    8828.0  17322076.0  52.983209
90386  2022      3     효목2동           주택용   46492.0  12185256.0  37.271166

[90387 rows x 7 columns]

In [28]:
# 데이터 복사
e_group1=e_group.copy()
e_group1

       year  month region_1 contract type  customer    elec_use  use ratio
0      2013      1      가창면           가로등     314.0    238587.0   1.874939
1      2013      1      가창면           농사용    1088.0    302963.0   2.380838
2      2013      1      가창면           산업용      90.0   7629701.0  59.958098
3      2013      1      가창면            심야     524.0   1894274.0  14.886175
4      2013      1      가창면           일반용     620.0   1811605.0  14.236520
...     ...    ...      ...           ...       ...         ...        ...
90382  2022      3     효목2동           농사용      16.0       736.0   0.002251
90383  2022      3     효목2동           산업용     192.0    434184.0   1.328043
90384  2022      3     효목2동            심야    1036.0   1381680.0   4.226159
90385  2022      3     효목2동           일반용    8828.0  17322076.0  52.983209
90386  2022      3     효목2동           주택용   46492.0  12185256.0  37.271166

[90387 rows x 7 columns]

In [29]:
# customer, elec 열 제거
e_group1=e_group1.drop(['customer','elec_use'], axis=1)
e_group1

       year  month region_1 contract type  use ratio
0      2013      1      가창면           가로등   1.874939
1      2013      1      가창면           농사용   2.380838
2      2013      1      가창면           산업용  59.958098
3      2013      1      가창면            심야  14.886175
4      2013      1      가창면           일반용  14.236520
...     ...    ...      ...           ...        ...
90382  2022      3     효목2동           농사용   0.002251
90383  2022      3     효목2동           산업용   1.328043
90384  2022      3     효목2동            심야   4.226159
90385  2022      3     효목2동           일반용  52.983209
90386  2022      3     효목2동           주택용  37.271166

[90387 rows x 5 columns]

In [30]:
# contract tpye의 값을 열로 옮기고 use ratio 열의 값을 contract type값으로 넣음
e_pivot=e_group1.pivot_table(index=['year', 'month','region_1'], columns= 'contract type', values='use ratio').reset_index()
e_pivot

contract type,year,month,region_1,가로등,교육용,농사용,산업용,심야,일반용,임시전력,주택용
0,2013,1,가창면,1.874939,NaN,2.380838,59.958098,14.886175,14.236520,NaN,6.663429
1,2013,1,감삼동,0.999161,1.031912,NaN,3.514994,7.186035,50.798182,0.614100,35.855616
2,2013,1,검단동,0.330675,NaN,0.255121,87.698491,1.162335,5.444705,0.004479,5.104194
3,2013,1,고산1동,0.934955,3.384444,0.236130,14.009905,2.812061,41.470407,NaN,37.152097
4,2013,1,고산2동,3.152808,1.268371,1.440750,9.721878,4.623025,48.234231,1.260683,30.298253
...,...,...,...,...,...,...,...,...,...,...,...
14515,2022,3,현풍읍,1.099952,4.885834,1.095497,75.814304,0.442114,8.101283,NaN,8.561016
14516,2022,3,화원읍,2.468018,2.432514,2.206628,23.224903,2.185470,32.957614,NaN,34.524853
14517,2022,3,황금1동,1.258449,3.052596,0.406348,1.269598,1.822193,50.854119,NaN,41.336697
14518,2022,3,황금2동,1.454930,2.906609,0.004649,1.327760,1.856042,50.623247,NaN,41.826763
14519,2022,3,효목2동,1.917089,2.272083,0.002251,1.328043,4.226159,52.983209,NaN,37.271166

In [31]:
df = pd.merge(df,e_pivot, how='left', left_on=['year','month','region'], right_on=['year','month','region_1'])
df.drop(['region_1'], axis=1, inplace=True)

In [34]:
df

,year,month,day,hour,datetime,temp,rainfall,humidity,wind_speed,wind_direction,...,DI,height,가로등,교육용,농사용,산업용,심야,일반용,임시전력,주택용
0,2010,6,1,0,2010-06-01 00:00:00,16.5,0.0,53.0,NaN,NaN,...,60.74355,42.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,6,1,1,2010-06-01 01:00:00,18.1,0.0,49.0,NaN,NaN,...,62.73431,42.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,6,1,2,2010-06-01 02:00:00,19.7,0.0,46.0,NaN,NaN,...,64.65038,42.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,6,1,3,2010-06-01 03:00:00,20.8,0.0,41.0,NaN,NaN,...,65.72772,42.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,6,1,4,2010-06-01 04:00:00,22.2,0.0,36.0,NaN,NaN,...,67.04608,42.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14831611,2022,4,30,19,2022-04-30 19:00:00,10.7,0.0,71.0,2.1,335.0,...,52.33503,28.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14831612,2022,4,30,20,2022-04-30 20:00:00,11.0,0.0,65.0,2.2,339.0,...,52.99350,28.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14831613,2022,4,30,21,2022-04-30 21:00:00,11.9,0.0,61.0,2.2,338.0,...,54.40241,28.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14831614,2022,4,30,22,2022-04-30 22:00:00,13.4,0.0,53.0,2.0,351.0,...,56.60598,28.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14831615,2022,4,30,23,2022-04-30 23:00:00,15.1,0.0,41.0,2.1,5.0,...,58.79709,28.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df_ = df
df_.to_csv('./output/DL_data.csv', index=True)

# <hr>
### --- 데이터 보강 Part 完 ---
# <hr>

## 지역 데이터를 숫자로 치환

In [ ]:
fact = pd.factorize(dfs['region'])
dfs['region'] = fact[0]
dfs

In [ ]:
df['region'] = fact[0]

## 작년 겨울 데이터를 만들기

In [19]:
import datetime
df['datetime'] = pd.to_datetime(df['datetime'])
df['prev_winter'] = None
for i in range(2011,2022):
    count = (df[(df['datetime'] >= datetime.datetime(i-1,12,1,0)) & (df['datetime'] < datetime.datetime(i,4,1,0))]['temp'] <= -10).sum()
    list_temp = list(df[(df['datetime'] >= datetime.datetime(i,5,1,0)) & (df['datetime'] < datetime.datetime(i,10,1,0))].index)
    df.loc[list_temp,'prev_winter'] = count

In [23]:
# 정상적으로 나오는지 확인
df[(df['year'] == 2017) & (df['month'] == 6)]

,year,month,day,hour,datetime,temp,rainfall,humidity,wind_speed,wind_direction,region,HI,DI,prev_winter
61368,2017,6,1,0,2017-06-01 00:00:00,25.6,0.0,63.0,1.1,292.0,0,25.860556,73.99372,22
61369,2017,6,1,1,2017-06-01 01:00:00,26.4,0.0,55.0,2.7,280.0,0,27.117609,74.19380,22
61370,2017,6,1,2,2017-06-01 02:00:00,28.3,0.0,55.0,2.4,283.0,0,29.316985,76.76735,22
61371,2017,6,1,3,2017-06-01 03:00:00,29.6,0.0,51.0,2.8,240.0,0,30.616206,77.92804,22
61372,2017,6,1,4,2017-06-01 04:00:00,30.4,0.0,47.0,3.0,255.0,0,31.158213,78.34812,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14789251,2017,6,30,19,2017-06-30 19:00:00,24.4,0.0,87.0,0.6,180.0,141,25.167222,74.63872,22
14789252,2017,6,30,20,2017-06-30 20:00:00,25.4,0.0,90.0,1.9,152.0,141,26.571257,76.63540,22
14789253,2017,6,30,21,2017-06-30 21:00:00,26.0,0.0,85.0,2.9,178.0,141,27.851016,77.08400,22
14789254,2017,6,30,22,2017-06-30 22:00:00,26.1,0.0,82.0,4.1,186.0,141,27.945237,76.90298,22
14789255,2017,6,30,23,2017-06-30 23:00:00,26.0,0.3,81.0,3.7,182.0,141,27.701942,76.62640,22

## 여름만 남기기

In [ ]:
df.dropna(inplace=True)

In [9]:
df[df['HI'] >= 33]['month'].unique()

array([6, 7, 8, 9, 5], dtype=int64)

In [13]:
df = df[(df['month'].isin([5,6,7,8,9])) | ((df['month']==4) & (df['day'] >= 28) & (df['year'] < 2022))].reset_index(drop=True)

In [14]:
df

,year,month,day,hour,datetime,temp,rainfall,humidity,wind_speed,wind_direction,region,HI,DI
0,2011,4,28,0,2011-04-28 00:00:00,10.8,0.0,56.0,2.7,253.0,0,9.397778,53.02752
1,2011,4,28,1,2011-04-28 01:00:00,11.4,0.0,55.0,2.0,273.0,0,10.031667,53.87630
2,2011,4,28,2,2011-04-28 02:00:00,12.4,0.0,50.0,2.9,297.0,0,11.001111,55.33200
3,2011,4,28,3,2011-04-28 03:00:00,12.7,0.0,47.0,2.5,281.0,0,11.252778,55.77531
4,2011,4,28,4,2011-04-28 04:00:00,14.2,0.0,43.0,3.1,299.0,0,12.798333,57.69794
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5848123,2021,9,30,19,2021-09-30 19:00:00,16.8,0.0,100.0,0.5,338.0,141,17.146667,62.24000
5848124,2021,9,30,20,2021-09-30 20:00:00,17.1,0.0,100.0,1.0,328.0,141,17.476667,62.78000
5848125,2021,9,30,21,2021-09-30 21:00:00,16.9,0.0,100.0,2.0,346.0,141,17.256667,62.42000
5848126,2021,9,30,22,2021-09-30 22:00:00,17.5,0.0,100.0,2.2,325.0,141,17.916667,63.50000
5848127,2021,9,30,23,2021-09-30 23:00:00,19.7,0.0,90.0,2.6,330.0,141,20.075556,66.93970

## column 늘리기

In [17]:
df.drop(['datetime','HI','DI'], axis=1, inplace=True)

In [18]:
df

,year,month,day,hour,temp,rainfall,humidity,wind_speed,wind_direction,region
0,2011,4,28,0,10.8,0.0,56.0,2.7,253.0,0
1,2011,4,28,1,11.4,0.0,55.0,2.0,273.0,0
2,2011,4,28,2,12.4,0.0,50.0,2.9,297.0,0
3,2011,4,28,3,12.7,0.0,47.0,2.5,281.0,0
4,2011,4,28,4,14.2,0.0,43.0,3.1,299.0,0
...,...,...,...,...,...,...,...,...,...,...
5848123,2021,9,30,19,16.8,0.0,100.0,0.5,338.0,141
5848124,2021,9,30,20,17.1,0.0,100.0,1.0,328.0,141
5848125,2021,9,30,21,16.9,0.0,100.0,2.0,346.0,141
5848126,2021,9,30,22,17.5,0.0,100.0,2.2,325.0,141
5848127,2021,9,30,23,19.7,0.0,90.0,2.6,330.0,141

In [ ]:
previous_time = 72
column_list = []

for i in range(1, previous_time+1):
    for j in ['temp','rainfall','humidity','wind_speed','wind_direction','region']:
        col_temp = 'next_' + j + '_h' + str(i)
        column_list.append(col_temp)
        df[col_temp] = df[j].shift(i)

In [ ]:
drop_list = df[df['month'] == 4].index()
df.drop(drop_list, inplace=True)

## target 데이터

In [10]:
pred_time = 72
length = df.shape[0]

next_temp_list = []

for i in range(1, pred_time+1):
    col_temp = 'next_temp_' + str(i)
    next_temp_list.append(col_temp)
    df[col_temp] = -50
    df[col_temp] = df['temp'].shift(-i)

    # col_humi = 'next_humi_' + str('pred_time')
    # df[col_humi] = -50
    # df.loc[0:length-pred_time-1,col_humi] = list(df.loc[1:length-pred_time,'humidity'])

In [11]:
df

,index,year,month,day,hour,datetime,temp,rainfall,humidity,wind_speed,...,next_temp_63,next_temp_64,next_temp_65,next_temp_66,next_temp_67,next_temp_68,next_temp_69,next_temp_70,next_temp_71,next_temp_72
0,4519,2010,12,6,7,2010-12-06 07:00:00,11.6,0.0,32.0,4.1,...,-0.3,-0.1,0.5,1.7,2.6,3.5,4.7,5.8,5.3,4.9
1,4520,2010,12,6,8,2010-12-06 08:00:00,10.6,0.0,35.0,3.6,...,-0.1,0.5,1.7,2.6,3.5,4.7,5.8,5.3,4.9,3.6
2,4521,2010,12,6,9,2010-12-06 09:00:00,9.2,0.0,27.0,3.8,...,0.5,1.7,2.6,3.5,4.7,5.8,5.3,4.9,3.6,2.8
3,4522,2010,12,6,10,2010-12-06 10:00:00,7.9,0.0,34.0,4.1,...,1.7,2.6,3.5,4.7,5.8,5.3,4.9,3.6,2.8,2.2
4,4523,2010,12,6,11,2010-12-06 11:00:00,5.7,0.0,44.0,3.6,...,2.6,3.5,4.7,5.8,5.3,4.9,3.6,2.8,2.2,1.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14189913,14831611,2022,4,30,19,2022-04-30 19:00:00,10.7,0.0,71.0,2.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14189914,14831612,2022,4,30,20,2022-04-30 20:00:00,11.0,0.0,65.0,2.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14189915,14831613,2022,4,30,21,2022-04-30 21:00:00,11.9,0.0,61.0,2.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14189916,14831614,2022,4,30,22,2022-04-30 22:00:00,13.4,0.0,53.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14189917,14831615,2022,4,30,23,2022-04-30 23:00:00,15.1,0.0,41.0,2.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df['datetime'] = pd.to_datetime(df['datetime'])
y = df[df['datetime'] < datetime.datetime(2022,5,1,0) - datetime.timedelta(hours=pred_time)][next_temp_list]

In [20]:
df

,index,year,month,day,hour,datetime,temp,rainfall,humidity,wind_speed,...,next_temp_63,next_temp_64,next_temp_65,next_temp_66,next_temp_67,next_temp_68,next_temp_69,next_temp_70,next_temp_71,next_temp_72
0,4519,2010,12,6,7,2010-12-06 07:00:00,11.6,0.0,32.0,4.1,...,-0.3,-0.1,0.5,1.7,2.6,3.5,4.7,5.8,5.3,4.9
1,4520,2010,12,6,8,2010-12-06 08:00:00,10.6,0.0,35.0,3.6,...,-0.1,0.5,1.7,2.6,3.5,4.7,5.8,5.3,4.9,3.6
2,4521,2010,12,6,9,2010-12-06 09:00:00,9.2,0.0,27.0,3.8,...,0.5,1.7,2.6,3.5,4.7,5.8,5.3,4.9,3.6,2.8
3,4522,2010,12,6,10,2010-12-06 10:00:00,7.9,0.0,34.0,4.1,...,1.7,2.6,3.5,4.7,5.8,5.3,4.9,3.6,2.8,2.2
4,4523,2010,12,6,11,2010-12-06 11:00:00,5.7,0.0,44.0,3.6,...,2.6,3.5,4.7,5.8,5.3,4.9,3.6,2.8,2.2,1.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14179689,14831539,2022,4,27,19,2022-04-27 19:00:00,11.3,0.0,91.0,1.4,...,14.2,13.7,13.4,13.6,14.1,14.0,13.2,12.4,11.6,10.7
14179690,14831540,2022,4,27,20,2022-04-27 20:00:00,11.3,0.0,93.0,1.3,...,13.7,13.4,13.6,14.1,14.0,13.2,12.4,11.6,10.7,11.0
14179691,14831541,2022,4,27,21,2022-04-27 21:00:00,12.7,0.0,81.0,2.0,...,13.4,13.6,14.1,14.0,13.2,12.4,11.6,10.7,11.0,11.9
14179692,14831542,2022,4,27,22,2022-04-27 22:00:00,14.3,0.0,73.0,2.3,...,13.6,14.1,14.0,13.2,12.4,11.6,10.7,11.0,11.9,13.4
14179693,14831543,2022,4,27,23,2022-04-27 23:00:00,16.5,0.0,65.0,1.9,...,14.1,14.0,13.2,12.4,11.6,10.7,11.0,11.9,13.4,15.1

## 자 드가자

In [14]:
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense
from keras import optimizers
import numpy as np

In [22]:
df

,index,year,month,day,hour,datetime,temp,rainfall,humidity,wind_speed,...,next_temp_63,next_temp_64,next_temp_65,next_temp_66,next_temp_67,next_temp_68,next_temp_69,next_temp_70,next_temp_71,next_temp_72
0,4519,2010,12,6,7,2010-12-06 07:00:00,11.6,0.0,32.0,4.1,...,-0.3,-0.1,0.5,1.7,2.6,3.5,4.7,5.8,5.3,4.9
1,4520,2010,12,6,8,2010-12-06 08:00:00,10.6,0.0,35.0,3.6,...,-0.1,0.5,1.7,2.6,3.5,4.7,5.8,5.3,4.9,3.6
2,4521,2010,12,6,9,2010-12-06 09:00:00,9.2,0.0,27.0,3.8,...,0.5,1.7,2.6,3.5,4.7,5.8,5.3,4.9,3.6,2.8
3,4522,2010,12,6,10,2010-12-06 10:00:00,7.9,0.0,34.0,4.1,...,1.7,2.6,3.5,4.7,5.8,5.3,4.9,3.6,2.8,2.2
4,4523,2010,12,6,11,2010-12-06 11:00:00,5.7,0.0,44.0,3.6,...,2.6,3.5,4.7,5.8,5.3,4.9,3.6,2.8,2.2,1.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14179689,14831539,2022,4,27,19,2022-04-27 19:00:00,11.3,0.0,91.0,1.4,...,14.2,13.7,13.4,13.6,14.1,14.0,13.2,12.4,11.6,10.7
14179690,14831540,2022,4,27,20,2022-04-27 20:00:00,11.3,0.0,93.0,1.3,...,13.7,13.4,13.6,14.1,14.0,13.2,12.4,11.6,10.7,11.0
14179691,14831541,2022,4,27,21,2022-04-27 21:00:00,12.7,0.0,81.0,2.0,...,13.4,13.6,14.1,14.0,13.2,12.4,11.6,10.7,11.0,11.9
14179692,14831542,2022,4,27,22,2022-04-27 22:00:00,14.3,0.0,73.0,2.3,...,13.6,14.1,14.0,13.2,12.4,11.6,10.7,11.0,11.9,13.4
14179693,14831543,2022,4,27,23,2022-04-27 23:00:00,16.5,0.0,65.0,1.9,...,14.1,14.0,13.2,12.4,11.6,10.7,11.0,11.9,13.4,15.1

In [ ]:
xs = []
for i in range(72):
    x = df[df['datetime'] < datetime.datetime(2022,5,1,0) - datetime.timedelta(hours=i)]
    xs.append()

In [23]:
x = df[['year','month','day','hour','temp','rainfall','humidity','wind_speed','wind_direction','region','HI','DI']]
y = df[next_temp_list]

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [24]:
x_train

,year,month,day,hour,temp,rainfall,humidity,wind_speed,wind_direction,region,HI,DI
11640019,2017,5,21,22,21.8,0.0,56.0,0.1,270.0,116,21.497778,68.03592
5257227,2018,4,22,14,12.5,0.2,71.0,4.1,91.0,52,11.659444,55.05825
13386455,2011,7,28,8,31.0,0.0,63.0,4.2,195.0,134,35.616501,81.73570
13219945,2015,5,11,20,16.9,1.0,92.0,1.9,273.0,132,17.047778,62.22552
6898627,2011,11,25,5,9.5,0.0,35.0,3.4,285.0,69,7.419444,52.28175
...,...,...,...,...,...,...,...,...,...,...,...,...
9790449,2011,6,10,6,25.6,0.0,57.0,0.8,173.0,98,25.703889,73.33108
6571192,2020,2,10,22,0.2,0.0,66.0,1.7,89.0,65,0.200000,37.15468
4057392,2018,2,16,23,-1.0,0.0,21.0,2.9,286.0,40,-1.000000,42.27910
2850888,2017,3,11,11,10.3,0.0,32.0,0.9,77.0,28,8.221111,53.33004
6713881,2013,8,9,21,28.6,0.0,87.0,0.9,311.0,67,35.138697,81.65818

In [25]:
import tensorflow as tf
from keras.layers import *
from keras.models import Sequential, Model
from keras.optimizers import Adam, RMSprop
import numpy as np

input_list = []
for i in range(72):
    input_list.append(Input(shape=(12,)))

input = Concatenate()(input_list)
x1 = Dense(500)(input)
x2 = Dense(300)(x1)
x = Dense(72)(x2)
model = Model(inputs=input_list, outputs=x)
model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_1 (InputLayer)           [(None, 12)]         0           []

 input_2 (InputLayer)           [(None, 12)]         0           []

 input_3 (InputLayer)           [(None, 12)]         0           []

 input_4 (InputLayer)           [(None, 12)]         0           []

 input_5 (InputLayer)           [(None, 12)]         0           []

 input_6 (InputLayer)           [(None, 12)]         0           []

 input_7 (InputLayer)           [(None, 12)]         0           []

 input_8 (InputLayer)           [(None, 12)]         0           []

 input_9 (InputLayer)           [(None, 12)]         0           []

 input_10 (InputLayer)          [(None, 12)]         0           []

 input_11 (InputLayer)          [(None, 12)]         0           []

 input_12 (InputLayer)          [(None, 12)]         0           []

 input_13 (InputLayer)          [(None, 12)]         0           []

 input_14 (InputLayer)          [(None, 12)]         0           []

 input_15 (InputLayer)          [(None, 12)]         0           []

 input_16 (InputLayer)          [(None, 12)]         0           []

 input_17 (InputLayer)          [(None, 12)]         0           []

 input_18 (InputLayer)          [(None, 12)]         0           []

 input_19 (InputLayer)          [(None, 12)]         0           []

 input_20 (InputLayer)          [(None, 12)]         0           []

 input_21 (InputLayer)          [(None, 12)]         0           []

 input_22 (InputLayer)          [(None, 12)]         0           []

 input_23 (InputLayer)          [(None, 12)]         0           []

 input_24 (InputLayer)          [(None, 12)]         0           []

 input_25 (InputLayer)          [(None, 12)]         0           []

 input_26 (InputLayer)          [(None, 12)]         0           []

 input_27 (InputLayer)          [(None, 12)]         0           []

 input_28 (InputLayer)          [(None, 12)]         0           []

 input_29 (InputLayer)          [(None, 12)]         0           []

 input_30 (InputLayer)          [(None, 12)]         0           []

 input_31 (InputLayer)          [(None, 12)]         0           []

 input_32 (InputLayer)          [(None, 12)]         0           []

 input_33 (InputLayer)          [(None, 12)]         0           []

 input_34 (InputLayer)          [(None, 12)]         0           []

 input_35 (InputLayer)          [(None, 12)]         0           []

 input_36 (InputLayer)          [(None, 12)]         0           []

 input_37 (InputLayer)          [(None, 12)]         0           []

 input_38 (InputLayer)          [(None, 12)]         0           []

 input_39 (InputLayer)          [(None, 12)]         0           []

 input_40 (InputLayer)          [(None, 12)]         0           []

 input_41 (InputLayer)          [(None, 12)]         0           []

 input_42 (InputLayer)          [(None, 12)]         0           []

 input_43 (InputLayer)          [(None, 12)]         0           []

 input_44 (InputLayer)          [(None, 12)]         0           []

 input_45 (InputLayer)          [(None, 12)]         0           []

 input_46 (InputLayer)          [(None, 12)]         0           []

 input_47 (InputLayer)          [(None, 12)]         0           []

 input_48 (InputLayer)          [(None, 12)]         0           []

 input_49 (InputLayer)          [(None, 12)]         0           []

 input_50 (InputLayer)          [(None, 12)]         0           []

 input_51 (InputLayer)          [(None, 12)]         0           []

 input_52 (InputLayer)          [(None, 12)]         0           []

 input_53 (InputLayer)          [(None, 12)]         0           []

 input_54 (InputLayer)          [(None, 12)]         0           []

 input_55 (InputLayer)          [(None, 12)]         0           []

 input_56 (InputLayer)          [(None, 12)]         0           []

 input_57 (InputLayer)          [(None, 12)]         0           []

 input_58 (InputLayer)          [(None, 12)]         0           []

 input_59 (InputLayer)          [(None, 12)]         0           []

 input_60 (InputLayer)          [(None, 12)]         0           []

 input_61 (InputLayer)          [(None, 12)]         0           []

 input_62 (InputLayer)          [(None, 12)]         0           []

 input_63 (InputLayer)          [(None, 12)]         0           []

 input_64 (InputLayer)          [(None, 12)]         0           []

 input_65 (InputLayer)          [(None, 12)]         0           []

 input_66 (InputLayer)          [(None, 12)]         0           []

 input_67 (InputLayer)          [(None, 12)]         0           []

 input_68 (InputLayer)          [(None, 12)]         0           []

 input_69 (InputLayer)          [(None, 12)]         0           []

 input_70 (InputLayer)          [(None, 12)]         0           []

 input_71 (InputLayer)          [(None, 12)]         0           []

 input_72 (InputLayer)          [(None, 12)]         0           []

 concatenate (Concatenate)      (None, 864)          0           ['input_1[0][0]',
                                                                  'input_2[0][0]',
                                                                  'input_3[0][0]',
                                                                  'input_4[0][0]',
                                                                  'input_5[0][0]',
                                                                  'input_6[0][0]',
                                                                  'input_7[0][0]',
                                                                  'input_8[0][0]',
                                                                  'input_9[0][0]',
                                                                  'input_10[0][0]',
                                                                  'input_11[0][0]',
                                                                  'input_12[0][0]',
                                                                  'input_13[0][0]',
                                                                  'input_14[0][0]',
                                                                  'input_15[0][0]',
                                                                  'input_16[0][0]',
                                                                  'input_17[0][0]',
                                                                  'input_18[0][0]',
                                                                  'input_19[0][0]',
                                                                  'input_20[0][0]',
                                                                  'input_21[0][0]',
                                                                  'input_22[0][0]',
                                                                  'input_23[0][0]',
                                                                  'input_24[0][0]',
                                                                  'input_25[0][0]',
                                                                  'input_26[0][0]',
                                                                  'input_27[0][0]',
                                                                  'input_28[0][0]',
                                                                  'input_29[0][0]',
                                                                  'input_30[0][0]',
                                                                  'input_31[0][0]',
                                                                  'input_32[0][0]',
                                                                  'input_33[0][0]',
                                                                  'input_34[0][0]',
                                                                  'input_35[0][0]',
                                                                  'input_36[0][0]',
                                                                  'input_37[0][0]',
                                                                  'input_38[0][0]',
                                                                  'input_39[0][0]',
                                                                  'input_40[0][0]',
                                                                  'input_41[0][0]',
                                                                  'input_42[0][0]',
                                                                  'input_43[0][0]',
                                                                  'input_44[0][0]',
                                                                  'input_45[0][0]',
                                                                  'input_46[0][0]',
                                                                  'input_47[0][0]',
                                                                  'input_48[0][0]',
                                                                  'input_49[0][0]',
                                                                  'input_50[0][0]',
                                                                  'input_51[0][0]',
                                                                  'input_52[0][0]',
                                                                  'input_53[0][0]',
                                                                  'input_54[0][0]',
                                                                  'input_55[0][0]',
                                                                  'input_56[0][0]',
                                                                  'input_57[0][0]',
                                                                  'input_58[0][0]',
                                                                  'input_59[0][0]',
                                                                  'input_60[0][0]',
                                                                  'input_61[0][0]',
                                                                  'input_62[0][0]',
                                                                  'input_63[0][0]',
                                                                  'input_64[0][0]',
                                                                  'input_65[0][0]',
                                                                  'input_66[0][0]',
                                                                  'input_67[0][0]',
                                                                  'input_68[0][0]',
                                                                  'input_69[0][0]',
                                                                  'input_70[0][0]',
                                                                  'input_71[0][0]',
                                                                  'input_72[0][0]']

 dense (Dense)                  (None, 500)          432500      ['concatenate[0][0]']

 dense_1 (Dense)                (None, 300)          150300      ['dense[0][0]']

 dense_2 (Dense)                (None, 72)           21672       ['dense_1[0][0]']

==================================================================================================
Total params: 604,472
Trainable params: 604,472
Non-trainable params: 0
__________________________________________________________________________________________________

In [ ]:
model.compile(
    optimizer = RMSprop(lr=0.02,rho=0.9,epsilon=None,decay=0),
    loss = 'mean_squared_error'
)

xs=[]
for i in range(72):
    x = 
    xs.append()

y = np.random.randn(100, 1)
model.fit([x1, x2], y)

# <hr>

In [15]:
x = df[['year','month','day','hour','temp','rainfall','humidity','wind_speed','wind_direction','region','HI','DI']]
y = df[next_temp_list]

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [16]:
x_train

,year,month,day,hour,temp,rainfall,humidity,wind_speed,wind_direction,region,HI,DI
10804967,2012,5,15,18,14.1,0.0,57.0,1.4,245.0,108,13.053889,57.52663
11276962,2020,8,13,9,31.9,0.0,65.0,2.3,169.0,112,38.402551,83.37165
2214388,2012,9,30,21,11.6,0.0,79.0,0.6,149.0,22,10.878333,53.47136
5797598,2011,2,15,19,-3.0,0.0,77.0,1.3,297.0,58,-3.000000,30.57210
3498401,2011,1,12,5,-0.6,0.0,17.0,2.4,330.0,35,-0.600000,43.28202
...,...,...,...,...,...,...,...,...,...,...,...,...
6602654,2011,10,8,3,21.1,0.0,37.0,1.7,295.0,66,20.231667,65.82893
6595096,2022,4,21,22,13.3,0.0,77.0,0.7,72.0,65,12.696111,56.20059
7988684,2021,9,8,4,27.7,0.0,59.0,2.9,342.0,79,28.918734,76.47957
9601883,2011,12,3,18,2.4,0.0,83.0,0.2,0.0,96,2.400000,38.34708
11255430,2018,2,28,5,7.8,5.4,89.0,4.8,84.0,112,6.959444,46.76358

In [1]:
# 모델을 신경망 구조로 설정
model = Sequential()

# 첫번째 Layer, 입력층, 12개를 입력받아 12개를 출력
model.add(Dense(12, input_dim=x_train.shape[1], activation = None))
# 두번째 Layer, 은닉층, 12개를 입력받아 12개를 출력
model.add(Dense(12, activation = None))
# 세번째 Layer, 은닉층, 12개를 입력받아 50개를 출력
model.add(Dense(50, activation = None))
# 네번째 Layer, 출력층, 50개를 입력받아 72개를 출력
model.add(Dense(72, activation = None))

NameError: name 'Sequential' is not defined

In [18]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 12)                156

 dense_1 (Dense)             (None, 12)                156

 dense_2 (Dense)             (None, 50)                650

 dense_3 (Dense)             (None, 72)                3672

=================================================================
Total params: 4,634
Trainable params: 4,634
Non-trainable params: 0
_________________________________________________________________

In [24]:
# binary_crossentropy : 클래스가 두개인 이진 분류에서 사용하는 손실함수
# mse : 예측시스템에서 주로 사용하는 손실함수 (mean square error)
# adam : 신경망의 가중치를 최적화시켜주는 알고리즘
# compile : 만들어진 layer를 ANN으로 묶어서 처리하는 과정
adam=optimizers.Adam(learning_rate=0.15, beta_1=0.9, beta_2=0.999, epsilon=None, decay=0.0, amsgrad=False)
model.compile(loss='mae', optimizer=adam, metrics=['mae'])
model.fit(x_train, y_train, epochs=30, batch_size=100)

In [26]:
scores = model.evaluate(x_test, y_test)
print("%s: %.2f%%" %(model.metrics_names[1], scores[1]*100))

88645/88645 [==============================] - 126s 1ms/step - loss: 2.5361 - mae: 2.5361
mae: 253.61%

In [27]:
y_pred = model.predict(x_test)

88645/88645 [==============================] - 108s 1ms/step

In [28]:
y_pred

array([[14.408025 , 84.09517  ],
       [ 2.2389498, 72.72847  ],
       [ 6.6921673, 35.249897 ],
       ...,
       [17.210688 , 22.57872  ],
       [26.97589  , 79.769356 ],
       [ 3.8914814, 52.785908 ]], dtype=float32)

In [29]:
y_pred = pd.DataFrame(y_pred, columns=['pred_temp','pred_humi'])

In [30]:
df_ = x_test[:]
df_ = pd.concat([df_,y_test], axis=1)
df_['pre_temp'] = 0
df_['pre_humi'] = 0

df_.loc[:,'pre_temp'] = list(y_pred['pred_temp'])
df_.loc[:,'pre_humi'] = list(y_pred['pred_humi'])

In [31]:
df_

,year,month,day,hour,temp,rainfall,humidity,wind_speed,wind_direction,region,HI,DI,next_temp,next_humi,pre_temp,pre_humi
6914133,2012,10,4,21,13.6,0.0,82.0,0.3,0.0,66,13.156667,56.63048,13.9,81.0,14.408025,84.095169
5821098,2019,2,19,18,2.2,0.0,70.0,2.2,271.0,55,2.200000,39.59660,2.3,71.0,2.238950,72.728470
5751688,2011,3,21,16,8.1,0.0,33.0,2.7,312.0,55,5.827222,50.78827,7.3,28.0,6.692167,35.249897
5904477,2016,9,24,21,16.7,0.0,88.0,0.6,51.0,56,16.723333,61.79204,16.5,86.0,17.579769,89.600822
4060622,2020,11,11,14,5.9,0.0,71.0,0.3,316.0,38,4.399444,45.07311,4.8,74.0,6.061051,73.504181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13863824,2019,3,1,8,11.4,0.0,21.0,1.3,317.0,132,9.143889,54.90106,10.4,24.0,9.743939,21.658646
7583417,2017,8,14,17,22.6,3.0,88.0,0.7,326.0,72,23.213333,71.71112,22.3,89.0,23.083179,89.920563
8302806,2016,4,12,6,18.8,0.0,23.0,1.2,290.0,79,17.336111,62.51976,19.3,27.0,17.210688,22.578720
6642647,2017,7,14,23,26.9,0.5,78.0,0.4,297.0,63,29.345598,77.70718,27.5,70.0,26.975889,79.769356
11060137,2021,1,13,1,3.9,0.0,53.0,0.3,236.0,105,3.900000,43.92633,6.0,47.0,3.891481,52.785908